---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { createSignal, createEffect } from "solid-js";
import { SignalComponent } from "../components/SignalComponent";
import { LoginComponent } from "../components/LoginComponent";

const [hola, setHola] = createSignal(2);

createEffect(() => {
  alert(hola());
  setHola(hola() + 1);
});

setHola(4);
{
  console.log(hola);
}
---

<Layout title="Welcome to Astro.">
  <h1>otra pagina</h1>
</Layout>
