---
import { useStore } from "@nanostores/solid";
import Footer from "../components/astroComponents/Footer.astro";
import Header from "../components/astroComponents/Header.astro";
import { ShowCart } from "../components/ShowCart";
// import { cartItems } from "../context/cartStore";

export interface Props {
  title: string;
}

// const $cartItems = useStore(cartItems);

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type='../components/ShowCart+xml"' href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="h-screen">
      <Header />

      <div class="h-screen">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
